/* when button Start Quiz is selected, hide header */

:root {
    /* color selections */
    --clr-background: #02142B;
    --clr-text-main: #f6d2bde7;
    --clr-text-selected: #8b8bdc;
}

* {
    /* main styling */
    /* color: var(--clr-text-main); */
    /* background-color: var(--clr-background); */
    font-family: 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

html {
    /* setting font size to 1rem to make it easier to calculate font size values for the rest of the page. 
     example: 1.6rem = 16px */
    font-size: 62.5%;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
}

h1 {
    text-align: center;
    /* background-color: transparent; */
}

/* styling of nav element */
nav {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    text-decoration: none;
}

.nav-item a:hover {
    color: #8b8bdc;
    transition: all 200ms ease-in;
}


/* styling for intro page */
#intro {
    display: block;
}

.intro-description {
    text-align: center;
    background-color: transparent;
    margin-top: 15px;
}

button {
    display: block;     
    margin:0 auto;
    width: 15rem;
    padding: 10px;
    font-size: 1.7rem;
}

/* styling of main */

#quiz {
    display: none;
}

.final, .high-scores {
    display: none;
}

#countdown {
    text-align: end;
    padding-right: 1rem;
}
